body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-xl: 20px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-snow: #fff5f5;
  --color-whitesmoke: #f5f5f5;
  --color-black: #000;

  /* Border radiuses */
  --br-3xs: 10px;
}
